<!doctype html>
<html lnag= "ko">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/static/login.css">
  <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main-container">
    <div class="main-wrap">
      <header>
        <div class="sel-lang-wrap">
          <select class="lang-select">
            <option>한국어</option>
            <option>English</option>
          </select>
        </div>
        <div class="logo-wrap">
          <img src="/static/로고.png">
        </div>
      </header>
      <section class="login-input-section-wrap">
        <div class="login-input-wrap">
          <input placeholder="id" type="text"></input>
        </div>
        <div class="login-input-wrap password-wrap">
          <input placeholder="Password" type="password"></input>
        </div>
        <div class="login-button-wrap">
          <button>Login</button>
        </div>
        <div class="login-stay-sign-in">
          <input type="checkbox" id="remember-check">
          <span>아이디 기억하기</span>
        </div>
        <div class="login-stay-sign-in">
            <a href="http://192.168.1.254:5000/register">회원가입</a>
        </div>
      </section>  
      <footer>
        <div class="copyright-wrap">
          <span> <img src="/static/boat.png"> Copyright © 해물왕다보고 Corp. All Rights Reserved.</span>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>